[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "bundle/YAIFA"]
	path = bundle/YAIFA
	url = https://github.com/Raimondi/YAIFA.git
	branch = master
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
	branch = master
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
	branch = master
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
	branch = master
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	branch = master
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	branch = master
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
	branch = master
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim/
	branch = master
[submodule "misc/tomorrow-theme"]
	path = misc/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
	branch = master
[submodule "misc/rust"]
	path = misc/rust
	url = https://github.com/mozilla/rust.git
	branch = master
[submodule "misc/vim-pathogen"]
	path = misc/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
	branch = master
