[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "bundle/YAIFA"]
	path = bundle/YAIFA
	url = https://github.com/Raimondi/YAIFA.git
	branch = master
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
	branch = master
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
	branch = master
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	branch = master
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
	branch = master
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim/
	branch = master
[submodule "misc/tomorrow-theme"]
	path = misc/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
	branch = master
[submodule "misc/rust"]
	path = misc/rust
	url = https://github.com/mozilla/rust.git
	branch = master
[submodule "misc/vim-pathogen"]
	path = misc/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
	branch = master
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
	branch = master
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
	branch = master
[submodule "misc/unite-outline"]
	path = misc/unite-outline
	url = https://github.com/Shougo/unite-outline.git
	branch = master
[submodule "misc/vim-rooter"]
	path = misc/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
	branch = master
[submodule "bundle/phpcomplete-extended"]
	path = bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
	branch = master
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
	branch = master
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim.git
